@model Emaid.Models.HomeViewModel
@using Emaid.Controllers

@using(Html.BeginUmbracoForm<HomeSurfaceController>("Submit", "Home")) {
    <div class="form-line">
        <label>Email Address:</label>
        @Html.TextBoxFor(m=>m.Email)
    </div>
    <div class="form-line">
        <label>Subject</label>
        @Html.TextBoxFor(m => m.Subject)
    </div>
    <div class="form-line">
        <label>Message</label>
        @Html.TextAreaFor(m => m.Body, new { @rows = 10 })
    </div>
    <input id="send-mail" type="submit" name="Submit" value="Send" />
}