@model Emaid.Models.HomeViewModel
@using Emaid.Controllers

@using(Html.BeginUmbracoForm<HomeSurfaceController>("Submit", "Home")) {
    <div>
        @Html.TextBoxFor(m=>m.Email)
    </div>
    <div>
        @Html.TextBoxFor(m=>m.Subject)
    </div>
    <div>
        @Html.TextBoxFor(m=>m.Body)
    </div>
    <input type="submit" name="Submit" value="Submit" />
}