@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section id="site-description">
    @Umbraco.Field("description")
</section>

<section class="section--centered section__main pushdown">
    @Umbraco.Field("emailForm")
</section>