<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT basePage ANY>
<!ATTLIST basePage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <basePage id="1066" key="a3819d94-307f-4e5e-af79-13933c8911eb" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-05-13T14:47:22" updateDate="2018-05-13T15:09:45" nodeName="Base Page" urlName="base-page" path="-1,1066" isDoc="" nodeType="1052" creatorName="carsono" writerName="carsono" writerID="0" template="1051" nodeTypeAlias="basePage" isPublished="true">
    <siteName><![CDATA[emaid]]></siteName>
    <author><![CDATA[created by Ollie Carson]]></author>
    <content><![CDATA[Cold Banana Studio test site]]></content>
    <home id="1074" key="e8a85d4a-d1cd-479b-b5ce-fad6351ab516" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2018-05-13T15:37:59" updateDate="2018-05-13T18:41:28" nodeName="Home" urlName="home" path="-1,1066,1074" isDoc="" nodeType="1073" creatorName="carsono" writerName="carsono" writerID="0" template="1072" nodeTypeAlias="home" isPublished="true">
  <emailForm><![CDATA[<?UMBRACO_MACRO macroAlias="EmailForm" />
<p> </p>]]></emailForm>
</home>
  </basePage>
</root>